footer {
    position:relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(55, 6, 61);
    color: white;
    border-top: 10px solid rgb(255, 0, 119);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }